<ion-header>
  <ion-navbar>
    <ion-title>Workouts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let workout of (workouts$ | async)">
      <button (click)="selectWorkout(workout)" ion-item>
        <ion-icon color="primary" item-start name="stopwatch"></ion-icon>
        <h2>{{ workout.name }}</h2>
        <p>{{ workout.duration }}</p>
        <ion-note item-right>
          Slide left
        </ion-note>
      </button>
      <ion-item-options side="right">
        <button (click)="editWorkout(workout)" clear icon-only ion-button>
          <ion-icon name="create"></ion-icon>
        </button>
        <button (click)="removeWorkout(workout)" clear icon-only ion-button>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="(workouts$ | async)?.length === 0" class="no-elements">
    <ion-icon class="no-elements__icon" md-name="fitness_center"></ion-icon>
    <h2 class="no-elements__message">You have no workouts</h2>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMoreFoods($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab bottom right>
    <button (click)="addWorkout()" color="primary" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>